html{
font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
margin:0;
padding:0;
}

table{
border-collapse:collapse;
border-spacing:0;
}

fieldset,img{
border:0;
}

ol,ul{
list-style:none;
}

caption,th{
text-align:left;
}

h1,h2,h3,h4,h5,h6{
font-size:100%;
font-weight:normal;
}

input,textarea,select{
font-family:inherit;
font-size:inherit;
font-weight:inherit;
}

input,textarea,select{
*font-size:100%;
}


/* clearfix ------- */
.clearfix:before,
.clearfix:after {
  content:"";
  display:table;
}
.clearfix:after {
  clear:both;
}
.clearfix {
  zoom:1;
}
body{

}
.wd100{
	width: 100%;
}
.wd50{
	width: 50%;
}
.center-align{
	text-align: center;
}


.dpInBlock{
	display: inline-block;
}

.dpBlock{
	display: block;
}

.fLeft{
	float: left;
}
.mar20{
	margin: 20px 0;
}
.fRight{
	float: right;
}
.posAb{
	position: absolute;
}
.posRel{
	position: relative;
}
.white-text{
	color: #fff;
}
.wrap{
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
}

nav{
	background-color: #f8f8f8;
}

.logoArea h1 img{
    margin-top: 20px;
}

nav > div > ul > li > a{
	line-height: 80px;
	text-decoration: none;
	padding: 0 30px;
	font-size: 20px;
	font-weight: bold;
	color: #486ba4;
}

nav > div > ul > li > a.active,
nav > div > ul > li > a:hover
{
	color: #f8f8f8;
	background-color: #486ba4;
}

.loginArea > li{
	margin-right: 19px;
}

.loginArea > li > span{
	width: 42px;
	height: 42px;
	display: inline-block;
	box-sizing:border-box;
  background-image: -moz-linear-gradient( 90deg, rgb(210,210,210) 0%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(210,210,210) 0%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(210,210,210) 0%, rgb(255,255,255) 100%);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border: solid 1px #cecece;
  position: relative;
}

.loginArea > li > *{
	vertical-align: top;
}

.loginArea > li > input[type=text],
.loginArea > li > input[type=password]
{
	padding: 9px 6px;
	border:0px;
	box-sizing:border-box;
	height: 42px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	width: 149px;
}

.loginArea > li > input:focus{
	outline: none;
}

.loginArea > li > span > img{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#login{
  background-image: -moz-linear-gradient( 90deg, rgb(41,72,134) 0%, rgb(100,139,194) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(41,72,134) 0%, rgb(100,139,194) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(41,72,134) 0%, rgb(100,139,194) 100%);
}

#login > div{
	padding-bottom: 14px;
	background-image: url(../images/dark_exa.png);
	padding-top: 20px;
}

#login > div > div > *{
	vertical-align: top;
}

.loginArea > li > input[type=submit]{
	background-image: -moz-linear-gradient( 90deg, rgb(16,40,87) 0%, rgb(28,76,135) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(16,40,87) 0%, rgb(28,76,135) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(16,40,87) 0%, rgb(28,76,135) 100%);
	height: 42px;
	min-width: 121px;
	border:1px #fff solid;
	border-radius: 6px;
	color: #fff;
	font-weight: bold;
	box-sizing:border-box;
	cursor: pointer;
}

.regBtn{
  background-image: -moz-linear-gradient( 90deg, rgb(209,97,23) 0%, rgb(255,177,55) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(209,97,23) 0%, rgb(255,177,55) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(209,97,23) 0%, rgb(255,177,55) 100%);
  width: 300px;
  height: 67px;
  padding:8px 0;
  box-sizing:border-box;
  border:solid #e2e2e2 1px;
  border-radius: 6px;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.75);
	-moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.75);
	box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.75);
}

.regBtn p {
	color: #000;
}

#mSection{
	background-color: #1f1f1f;
}

#mSection > div{
	min-height: 728px;
	background-image: url(../images/bg-index.jpg);
	background-repeat: no-repeat;
    background-position-x: 67%;
}

.infoArea{
	background-color: rgba(0,0,0,.65);
	height: 45px;
	width: 100%;
	display: block;
	box-sizing:border-box;
	border-radius: 6px;
	margin-top: 11px;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.75);
	-moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.75);
	box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.75);
}

.infoArea > marquee{
	width: 1032px;
	height: 31px;
	box-sizing:border-box;
	margin-top: 8px;
	margin-right: 10px;
	line-height: 31px;
	color: #fff;
}

.infoArea > div{
	background-image: -moz-linear-gradient( 90deg, rgb(192,144,42) 0%, rgb(255,210,73) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(192,144,42) 0%, rgb(255,210,73) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(192,144,42) 0%, rgb(255,210,73) 100%);
  width: 87px;
  height: 30px;
  border-radius: 4px;
margin-top: 7px;
margin-left: 6px;
padding: 7px 0 0 7px;
box-sizing:border-box;
}

.infoArea > div > img{
	padding-right: 11px;
}
.infoArea > div > span{
    display: inline-block;
    position: relative;
    top: -3px;
}

.bannerarea > div.fLeft {
	padding: 28px 0;
}

.bannerarea > div.fLeft h2{
	font-size: 90px;
	font-weight: bold;
	color: #ffffff;
	text-shadow: 0px 0px 8px rgba(255, 255, 255, .75);
}

.bannerarea > div.fLeft > .brdr{
	width: 100%;
	height: 2px;
	display: block;
	background-color: #fff;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.75);
    box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.75);
    padding: 0;
}

.bannerarea > div.fLeft > div{
	padding: 10px 0;
	padding-bottom: 30px;
}

.bannerarea > div.fRight ul{
	margin-top: 200px;
}

.bannerarea > div.fRight ul li{
	width: 150px;
	height: 85px;
	border-radius: 5px;
	background-color: rgba(0,0,0,.75);
	vertical-align: top;
	margin: 0 7.5px;
}

.bannerarea > div.fRight ul li p img{
	margin-top: 11px;
}

.bannerarea > div.fRight ul li p:nth-child(2){
	font-weight: bold;
	margin-top: 4px;
}

.bannerarea > div.fRight ul li p.on{
	text-shadow: 0px 0px 8px rgba(1, 255, 43, .65);
	color: rgb(1, 255, 43);
}

.bannerarea > div.fRight ul li p.gang{
	text-shadow: 0px 0px 8px rgba(255, 198, 1, .65);
	color: rgb(255, 198, 1);
}

.bannerarea > div.fRight ul li p.off{
	text-shadow: 0px 0px 8px rgba(255, 1, 1, .65);
	color: rgb(255, 1, 1);
}

.gamesarea > ul > li{
    background-image: -moz-linear-gradient( 90deg, rgb(41,72,134) 0%, rgb(100,139,194) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(41,72,134) 0%, rgb(100,139,194) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(41,72,134) 0%, rgb(100,139,194) 100%);

    -webkit-box-shadow: 0px 0px 5px 0px rgba(99, 139, 194,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(99, 139, 194,0.75);
    box-shadow: 0px 0px 5px 0px rgba(99, 139, 194,0.75);
    margin: 0 8.5px;
    vertical-align: top;
}

.gamesarea > ul > li:first-child{
	margin-left: 0;
}

.gamesarea > ul > li:last-child{
	margin-right: 0;
}

.gamesarea > ul > li.game > div{
	padding: 18px 10px;

}

.gamesarea > ul > li > div{
	background-image: url(../images/dark_exa.png);
}

.gamesarea > ul > li.game > div > div{
	min-width: 290px;
	min-height: 314px;
}

.gamesarea > ul > li.game > div > div > p:first-child{
	margin-top: 157px;
	text-align: center;
}

.gamesarea > ul > li.game > div > div > p:last-child{
	margin-top: 10px;1
}

.gamesarea > ul > li.game > div > div > p:first-child > a{
	width: 200px;
	height: 45px;
	line-height: 45px;
	text-decoration: none;
	color: #000;
	font-weight: bold;
	display: inline-block;
  background-image: -moz-linear-gradient( 90deg, rgb(192,144,42) 0%, rgb(255,210,73) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(192,144,42) 0%, rgb(255,210,73) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(192,144,42) 0%, rgb(255,210,73) 100%);
  border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(255, 255, 255,0.75);
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255,0.75);
}


.gamesarea > ul > li.game.g01 > div > div{
	background-image: url(../images/gamo01.png), url(../images/bg0.png);
	background-repeat: no-repeat, repeat;
}

.gamesarea > ul > li.game.g02 > div > div{
	background-image: url(../images/gamo02.png), url(../images/bg0.png);
	background-repeat: no-repeat, repeat;
}

.gamesarea > ul > li.game.g03 > div > div{
	background-image: url(../images/gamo03.png), url(../images/bg0.png);
	background-repeat: no-repeat, repeat;
}


.gamesarea > ul > li.kontak > div{
	padding: 14px 23px;
}


.gamesarea > ul > li.kontak > div > div.brdr{
	width: 100%;
    height: 2px;
    display: block;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.75);
    box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.75);
    padding: 0;
}

.gamesarea > ul > li.kontak > div > div.brdr:first-child{
	margin-bottom: 10px;
}

.gamesarea > ul > li.kontak > div > div.brdr:nth-child(3){
	margin-top: 10px;
}

.gamesarea > ul > li.kontak > div > p.inf{
	line-height: 48px;
	color: #fff;
}

.gamesarea > ul > li.kontak > div > p.inf > * {
	vertical-align: middle;
}

.gamesarea > ul > li.kontak > div > p.inf > img{
	margin-right: 20px;
}

#badgearea{
  background-image: -moz-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(103,103,103) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(103,103,103) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(103,103,103) 100%);
}

#badgearea > div{
	    background-image: url(../images/dark_exa.png);
	    min-height: 132px;
}

#badgearea h3{
	font-size: 30px;
	line-height: 114px;
	vertical-align: top;
	font-weight: bold;
}

#badgearea .brdr{
	height: 80px;
	width: 1px;
	display: inline-block;
	background-color: #fff;
	margin-left: 50px;
	margin-top: 16px;
	vertical-align: top;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.75);
    box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.75);
}

#badgearea > div > div > *{
	vertical-align: top;
}


#badgearea > div > div > div p img{
	margin: 20px 0 0 124px;
}


footer{
  background-image: -moz-linear-gradient( 45deg, rgb(32,195,255) 0%, rgb(1,95,182) 100%);
  background-image: -webkit-linear-gradient( 45deg, rgb(32,195,255) 0%, rgb(1,95,182) 100%);
  background-image: -ms-linear-gradient( 45deg, rgb(32,195,255) 0%, rgb(1,95,182) 100%);
  
}

footer > div{
	background-image: url(../images/dark_exa.png);
	min-height: 181px;
}

.ftrico{
	margin-top: 56px;
}

.Rectangle_6 {
  background-image: -moz-linear-gradient( 45deg, rgb(32,195,255) 0%, rgb(1,95,182) 100%);
  background-image: -webkit-linear-gradient( 45deg, rgb(32,195,255) 0%, rgb(1,95,182) 100%);
  background-image: -ms-linear-gradient( 45deg, rgb(32,195,255) 0%, rgb(1,95,182) 100%);
  opacity: 0.349;
  position: absolute;
  left: 0px;
  top: 1075px;
  width: 1920px;
  height: 181px;
  z-index: 106;
}
